@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Nunito", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.paginate{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.paginate li{
  width: 30px;
  height: 30px;
  border: 1px solid rgb(159, 159, 159);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}